{
    "service": {
        "name": "openvpn",
        "tags": ["openvpn"],
        "checks": [
            {
                "script": "/bin/check_openvpn",
                "interval": "30s"
            }
        ]
    }
}
