[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/service/consul
Environment=GOMAXPROCS=2
Restart=always
ExecStart=/usr/bin/consul agent $OPTIONS -config-dir=/etc/consul.d -advertise={{ salt['network.interfaces']()['enp3s0']['inet'][0]['address'] }} -bootstrap-expect 1
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
